﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

h5 {
  font-size: 22px;
}

.section .center {
  position: relative;
  margin: 50px, 0, 50px, 0;
}

  .section .section-header {
    -webkit-font-smoothing: antialiased !important;
  }

.btn-default {
  color: #fff;
  background-color:transparent;
  border: 2px solid rgba(255,255,255,0.5);
  padding: 12px 20px;
  margin: 0;
  font-size: 18px;
  border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
  background-color: #222;
  border-color: #222;
}
/* Navbar Override
---------------------------------------------------*/
nav {
  z-index: 3;
}

#navbarSupportedContent .nav-item .nav-link a:hover {
  color: rgb(0, 0, 0);
}


/* Add a dark background color with a little bit see-through */
#navigation-bar {
  background: rgba(0, 0, 0, 0.92);
}

  #navigation-bar .nav-bg {
    background: rgba(0, 0, 0, 0.452);
  }

  #navigation-bar .nav-item .nav-link:not(.active) {
    background: inherit;
    color: #fff;
    font-size: 18px;
    /* font-weight: bold; */
  }

  #navigation-bar .nav-item .nav-link {
    background: rgba(111, 181, 190, 0.863);
    color: #fff;
    font-size: 18px;
  }

  #navigation-bar .nav-item .nav-link:hover {
    background: rgba(111, 181, 190, 0.863);
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
  }

/* Loading
---------------------------------------------------*/
#loading {
  display: block;
  background: #777777;
  z-index: 10;
  /* position: fixed; */
}

  #loading .loader {
    /* position: absolute; */
    left: 50%;
    top: 50%;
    z-index: 1;
    /* width: 10%; */
    height: 100%;
    background: url(../BRG.png) no-repeat center;
  }

  #loading .loading-text {
    width: 400px;
    position: absolute;
    color: #000;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    text-align: center;
  }

  @keyframes animateflash {
    50% {opacity: 1;}
    100%{opacity: 0;}
  }

  @keyframes animatebottom {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, -600px, 0); }
  }

/* Intro
---------------------------------------------------*/
#intro {
  margin-top: -15px;
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(136, 237, 255);
  background-repeat: no-repeat;
	background-position: center center;
  background-attachment: fixed;
}

  #intro .carousel-caption {
    text-align: center;
    color: rgb(136, 237, 255);
    transform: translateY(-50%);
    bottom: 0;
    top: 55%;
  }
  
  #intro .carousel-subtitle {
    text-align: left;
    color: rgb(136, 237, 255);
    transform: translate(0%, 500%);
    bottom: 0;
    top: 80%;
    left: 10px;
  }

  #intro hr {
    height: 2px;
    width: 16%;
    text-align: center;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
    background: rgb(136, 237, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
    margin: 0 auto;
    border: 0;
  }

  #intro .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.vertical{
  width:1px;
  word-wrap: break-word;
  font-family: monospace; /* this is just for good looks */
  white-space:pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
}

/* About
---------------------------------------------------*/
#about {
	margin: -20px 0 0 0;
  background: #222629;
  
}

  #about .about-title {
    color: rgb(136, 237, 255); /* Old browsers */
    font-weight: 340;
  }

  #about .about-row {
    padding: 20px 0 0 0;
  }

  #about img {
    float: right;
  }
  #about p {
    font-size: 18px;
    color: rgb(136, 237, 255);
    text-align:justify;
  }

  #about .about-button {
    text-align: center;
  }

  #about #aboutCarousel {
    margin-top: 40px;
    display: block;
  }

  #about hr {
    height: 2px;
    width: 16%;
    text-align: center;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
    background: rgb(136, 237, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(0, 126, 148) 0%, rgb(136, 237, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
    margin: 0 auto;
    border: 0;
  }

/* Experience
---------------------------------------------------*/

#experience {
  width: auto;
  background: #222629;
  background: -moz-linear-gradient(top, #222629 0%, #222629 50%, #777777 50%, #777777 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #222629 0%, #222629 50%, #777777 50%, #777777 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #222629 0%, #222629 50%, #777777 50%, #777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
  
}

  #experience .logo {
    height:50px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px; 
    display: flex;
  }

  #experience h3 {
    padding-top: 0px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(78, 78, 78);
    text-transform: uppercase;
  }

  #experience .exp-cards {
    padding: 50px 0 50px 0;
  }

  #experience .card-header {
    text-transform: capitalize;
    font-weight: 500;
    background: #cfcfcf;
    padding: 10px 18px 22px 18px;
  }

  #experience .nav-pills .nav-link:not(.active) {
    background: inherit;
  }

  #experience .nav-pills .nav-link {
    background: #aaaaaa;
  }
/* 
  #experience .card-body {
    background: #f6f6f6;
  } */

  #experience .nav-link {
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    font-size: 18px;
  }

  #experience .img-brg {
    width: 100%;
  }

/* Projects
---------------------------------------------------*/
#projects {
  background: #777777;
  
}

  #projects .projects-title {
    color: rgb(0, 0, 0);
    font-weight: 340;
    padding: 50px 0 0 0;
  }

  #projects .projects-row {
    padding: 20px 0 0 0;
  }

  #projects h5 {
    color: rgb(0, 0, 0);
  }

  #projects .projects-text {
    font-size: 18px;
    color: #b8fdff;
    text-align:justify;
  }

  #projects hr {
    height: 2px;
    width: 21%;
    text-align: center;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100 */
    background: #aaaaaa; /* Old browsers */
    background: -moz-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(87, 87, 87) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(87, 87, 87) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(87, 87, 87) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4da8', endColorstr='#4977c2', GradientType=1 ); /* IE6-9 */
    margin: 30px auto;
    border: 0;
  }

/* Gallery
---------------------------------------------------*/
#gallery {
  font-size: inherit; 
}

  #gallery .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #gallery .carousel-img {
    position: fixed;
  }

  #gallery .gallery-img {
    width: 100%;
    height: auto;
  }

/* Publications
---------------------------------------------------*/
#publications {
  padding: 200px 0 200px 0;
  background: #f6f6f6;
  
}

  #publications hr {
    margin: 0 0 30px 0;
  }

  #publications p {
    text-align: justify;
    font-size: 18px;
  }

/* Contact
---------------------------------------------------*/
#contact {
  background: rgba(0, 0, 0, 0.92);
  margin:0 0 -20px 0;
}

  #contact .nav-bg {
    background: rgba(0, 0, 0, 0.452);
  }

  #contact .nav-item .nav-link:not(.active) {
    background: inherit;
    color: #fff;
    font-size: 18px;
    /* font-weight: bold; */
  }

  #contact .nav-item .nav-link {
    background: rgba(111, 181, 190, 0.863);
    color: #fff;
    font-size: 18px;
  }
  
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  #intro .display-1 {
    font-size: 40pt;
  }

  .display-2 {
    font-size: 36pt;
  }

  .display-3 {
    font-size: 32pt;
  }

  .display-4 {
    font-size: 28pt;
  }
  
  #gallery{
    font-size: inherit;
  }

  #experience .img-brg {
    width: 100%;
  }

  #publications {
    padding: 100px 0 200px 0;
    background: #f6f6f6;
  }
  
    #publications hr {
      margin: 0 0 20px 0;
    }
  
    #publications p {
      text-align: justify;
    }

    #publications .publications-pad {
      margin: 100px 0 0 0;
    }

    #about p {
      font-size: 18px;
      color: rgb(136, 237, 255);
      text-align:justify;
    }

    #about .about-button {
      text-align: center;
    }
}

@media (max-width: 530px) {
  html {
    font-size: 14px;
  }

  #intro {
    margin-top: -15px;
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(136, 237, 255);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  
    #intro .carousel-caption {
      text-align: center;
      color: rgb(136, 237, 255);
      transform: translateY(-50%);
      bottom: 0;
      top: 60%;
    }
  
    #intro .full-screen {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  .display-1 {
    font-size: 32pt;
  }

  .display-2 {
    font-size: 32pt;
  }

  .display-3 {
    font-size: 32pt;
  }

  .display-4 {
    font-size: 28pt;
  }

  #experience .img-brg {
    width: 100%;
  }  

  #gallery{
    font-size: inherit;
  }

    #gallery .gallery-img {
      width: 0;
      height: 50%;
      position: block;
      align-self: center;
    }

  #about p {
    font-size: 18px;
    color: rgb(136, 237, 255);
    text-align:justify;
  }

  #about .about-text {
    font-size: 18px;
    color: rgb(136, 237, 255);
    text-align:left;
  }

  #about .about-button {
    text-align: center;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
